html,
body {
    margin: 0;
    // margin-top: 10px;
    padding: 0;
    height: 100%;
    overflow-x: hidden;



}

input,
button {
    border: 0;
    outline: 0;
}


.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(31, 31, 31, 0.4);

}



.story-preview {
    border: 1.2px solid rgb(208, 207, 207);
    border-radius: 10px;
    min-width: 472px;
    height: 873.5;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;


    img {
        object-fit: cover;
    }

    .story-header {
        .user-img {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            margin-right: 10px;
            margin-left: 10px;
            cursor: pointer;


        }

        .header {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 10px;

            .h5 {
                cursor: pointer;


            }

            // .more-opt {

            // }

            .more {
                height: 24px;
                width: 24px;
                margin-left: 260px;
                cursor: pointer;


            }
        }

        .help {
            display: flex;
            flex-direction: column;
            // margin-left: 10px;

            .likes {
                font-size: 0.8em;
                font-weight: bold;
                margin-top: 10px;
            }
        }

    }

    .post {
        width: 470px;
        height: 570px;
    }

    .center {
        margin-left: 17px;
        margin-top: 5px;

    }

    .action {
        display: flex;
        justify-content: flex-start;
        height: 27px;
        cursor: pointer;

        .heart,
        .comment,
        .share {
            margin-right: .87rem;

        }
    }

    .save {
        margin-left: auto;
        margin-right: 1em;
        height: 24px;
        width: 24px;
        cursor: pointer;
    }




    .desc {

        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        // height: 50px;

        // margin-left: 5px;

        .name {
            font-weight: bold;
            margin-right: 10px;
            cursor: pointer;
            font-size: 15px;

        }

        .txt {
            font-size: 15px;

        }


    }

    .view {
        cursor: pointer;
        font-size: 15px;
        color: rgb(124, 120, 120);
    }

    .add {
        display: none;
    }





    @media screen and (min-width: 700px) {

        .add {
            display: flex;
            margin-left: 0.25em;
            margin-bottom: 0.5em;

            .emoji-add {
                display: flex;
                margin-left: 12px;
            }

            .emoji {
                width: 24px;
                margin-right: 5px;
                cursor: pointer;
            }

            .text {
                margin-right: auto;

            }

            .send {
                margin-left: auto;
                margin-right: 0.8em;
                background-color: white;
                color: rgb(0, 0, 0);
                cursor: pointer;
                font-weight: bold;

            }
        }
    }



}



/* start header */