@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Thin;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}



// @font-face {
//     font-family: robotoBlack;
//     src: url('C:\Users\97252\OneDrive\שולחן העבודה\ca-e2e-strater\frontend\src\assets\fonts\Roboto\Roboto-Black.tff');

// }